#about
  .image-wrapper
    img(src='http://placehold.it/250x250')
      
  .panel-copy
    h2 Socks so fine they could make a bald man cry
    p Drty socks feature original designs intended to add class and style to any wardrobe. Our socks are appropriate for any time of day, especially from 6 to midnight. We’re firm believers that there should be more to your socks than meets the naked eye, and we hope you find something here that tickles your pickle. We mean... fancy. We meant fancy.

  .clear
