#buy-now
  .panel-copy
    h2 Buy Now
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

  .image-wrapper
    img(src='http://placehold.it/250x250')

  .clear
