#buy-now
  .panel-copy
    h2 Buy Now
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    
    form(action='/charge', method='POST')
    script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='pk_test_Z6nPjP07pia8cwGsDoIJzgHQ', data-image='img/square-image.png', data-name='Drty Socks', data-description='1 pair ($10.00)', data-amount='1000')
          
  .image-wrapper
    img(src='http://placehold.it/250x250')

  .clear
