#buy-now
  .panel-copy
    h2 Get Drty
    p As one might imagine, working to design socks with subtle... images... results in a lot of time wasted on giggling every time the P word comes up. So we came up with a code word -- pezz -- and still giggled a lot. And now we can never eat that candy again either. Live and learn.
    p Own the original pezz-paisley (pezzly), and sign up below to receive updates on new colors and designs.
    .buy-now#open-modal Buy Now

  .image-wrapper
    img.full.one(src='/img/socks-1.png')
    .mini-container
      img.mini.one(data-index=1 src='/img/socks-1.png')
      img.mini.two(data-index=2 src='/img/socks-2.png')
      img.mini.three(data-index=3 src='/img/socks-3.png')

  .clear
