#buy-now
  .panel-copy
    h2 Get Drty
    p As one might imagine, working to design socks with subtle... images... results in a lot of time wasted on giggling every time the P word comes up. So we came up with a code word -- pezz -- and still giggled a lot. And now we can never eat that candy again either. Live and learn.
    p Own the original pezz-paisley (pezzly), and sign up below to receive updates on new colors and designs.
    .buy-now#open-modal Buy Now

  .image-wrapper
    img.one(src='http://placehold.it/250x250')
    .mini-container
      img.mini.one(src='http://placehold.it/50x50')
      img.mini.two(src='http://placehold.it/50x50')
      img.mini.three(src='http://placehold.it/50x50')

  .clear
