#modal
  h2 How Many Pairs?

  #quantity
    input#socks(type='text', name='socks-quantity', value='1')
    .incrementers.plus
    .incrementers.minus

  .stripe-container
    #pay-now.customButton Pay Now
