.modal {
  display: none;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url("/img/close.png") no-repeat 0 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p,
pre {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'courier new', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dl {
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  width: 100%;
  zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.clear {
  clear: both;
}
img {
  display: block;
}
.buy-now {
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -o-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background-color: #4d0505;
  color: #fff;
  color: rgba(255,255,255,0.95);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.buy-now:hover,
.buy-now:focus {
  background-color: #490505;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
}
.buy-now:active {
  background-color: #450404;
}
#landing .image-container img {
  width: 100%;
}
#landing .image-container .buy-now {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 15px;
  padding: 11.475px 25.245px;
  -webkit-border-radius: 3.461541124262403px;
  -moz-border-radius: 3.461541124262403px;
  -o-border-radius: 3.461541124262403px;
  -ms-border-radius: 3.461541124262403px;
  border-radius: 3.461541124262403px;
  background-color: #4d0505;
  color: #fff;
  color: rgba(255,255,255,0.95);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#landing .image-container .buy-now:hover,
#landing .image-container .buy-now:focus {
  background-color: #490505;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
}
#landing .image-container .buy-now:active {
  background-color: #450404;
}
#modal {
  display: none;
}
#modal h2 {
  text-align: center;
}
#modal #quantity {
  width: 24%;
  margin: 5% auto;
}
#modal #quantity .incrementers {
  width: 27px;
  height: 27px;
  background: url("/img/plus-minus-25.png") no-repeat;
  float: left;
}
#modal #quantity .plus {
  background-position: 0 0;
}
#modal #quantity .minus {
  background-position: 0 -35px;
}
#modal input {
  width: 30px;
}
#modal .stripe-container {
  margin: 0 auto;
  width: 30%;
}
#modal .stripe-container #pay-now {
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -o-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background-color: #7fc028;
  color: #fff;
  color: rgba(255,255,255,0.95);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#modal .stripe-container #pay-now:hover,
#modal .stripe-container #pay-now:focus {
  background-color: #79b626;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
}
#modal .stripe-container #pay-now:active {
  background-color: #72ad24;
}
#buy-now {
  background-color: #fffbff;
}
#buy-now .panel-copy {
  padding-top: 50px;
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
  text-align: center;
}
@media screen and (max-width: 769px) {
  #buy-now .panel-copy {
    display: inline;
    float: left;
    overflow: hidden;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 97.91666666666666% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
#buy-now .image-wrapper {
  display: inline;
  float: left;
  overflow: hidden;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  *width: 39.58333333333333% -correction;
  *margin: 0 1.0416666666666665% -correction;
  padding: 50px 0;
}
@media screen and (max-width: 769px) {
  #buy-now .image-wrapper {
    display: inline;
    float: left;
    overflow: hidden;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 97.91666666666666% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
#buy-now .image-wrapper .mini-container {
  width: 250px;
  margin: 0 auto;
}
#buy-now .image-wrapper img {
  margin: 0 auto;
}
#buy-now .image-wrapper img.mini {
  float: left;
  margin: 1em;
}
#about {
  background-color: #fffffb;
}
#about .panel-copy {
  float: right;
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
  text-align: center;
}
@media screen and (max-width: 769px) {
  #about .panel-copy {
    display: inline;
    float: left;
    overflow: hidden;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 97.91666666666666% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
#about .image-wrapper {
  float: left;
  display: inline;
  float: left;
  overflow: hidden;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  *width: 39.58333333333333% -correction;
  *margin: 0 1.0416666666666665% -correction;
  padding: 50px 0;
}
@media screen and (max-width: 769px) {
  #about .image-wrapper {
    display: inline;
    float: left;
    overflow: hidden;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 97.91666666666666% -correction;
    *margin: 0 1.0416666666666665% -correction;
  }
}
#about .image-wrapper img {
  margin: 0 auto;
}
#footer {
  background-color: #e5efff;
  height: 100px;
  width: 100%;
}
@media screen and (max-width: 769px) {
  #footer {
    height: 150px;
  }
}
#footer .app-support {
  text-decoration: none;
  color: #272727;
  font-weight: bold;
  display: inline;
  float: left;
  overflow: hidden;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  *width: 22.916666666666664% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-left: 9.375%;
  position: relative;
  top: 46px;
}
@media screen and (max-width: 769px) {
  #footer .app-support {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    float: none;
    margin: 0;
    top: 5px;
  }
}
#footer .social-icons {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
@media screen and (max-width: 769px) {
  #footer .social-icons {
    width: 100%;
    margin: 0;
  }
}
#footer .social-icons ul.horizontal-list {
  margin: 0;
  list-style-type: none;
}
@media screen and (max-width: 769px) {
  #footer .social-icons ul.horizontal-list {
    display: block;
    margin: 0 auto;
    width: 240px;
  }
}
#footer .social-icons ul.horizontal-list li.icons {
  width: 40px;
  height: 40px;
  float: left;
  margin: 2em 0.5em 1em 0.5em;
  background: url("/img/social-icons-sprite.png") no-repeat;
}
#footer .social-icons ul.horizontal-list li.icons.twitter {
  background-position: -174px 0;
}
#footer .social-icons ul.horizontal-list li.icons.facebook {
  background-position: -131px 0;
}
#footer .social-icons ul.horizontal-list li.icons.instagram {
  background-position: -44px 0;
}
#footer .download-app {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #4d0505;
  padding: 1.25em;
  color: #fff;
  display: inline;
  float: left;
  overflow: hidden;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 14.583333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-top: 1.5em;
  text-align: center;
}
#footer .download-app span {
  color: #808080;
}
@media screen and (max-width: 769px) {
  #footer .download-app {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    border: none;
  }
}
