#footer
  background-color: #e5efff
  height: 100px
  width: 100%

  @media screen and (max-width: 769px)
    height: 150px


  .app-support
    text-decoration: none
    color: black
    bold()
    column(3)
    offset(1)
    position: relative
    top: 46px

    @media screen and (max-width: 769px)
      display: block
      width: 100%
      text-align: center
      padding-top: 1em
      float: none
      margin: 0
      top: 5px

  .social-icons
    column(4)

    @media screen and (max-width: 769px)
      width: 100%
      margin: 0

    ul.horizontal-list
      margin: 0
      list-style-type: none

      @media screen and (max-width: 769px)
        display: block
        margin: 0 auto
        width: 240px

      li.icons
        size: 40
        float: left
        margin: 2em .5em 1em .5em
        bg('/img/social-icons-sprite.png') no-repeat

        &.twitter
          background-position: -174px 0
        &.facebook
          background-position: -131px 0
        &.instagram
          background-position: -44px 0

  .download-app
    float: right
    border-radius: 10px
    background-color: black
    padding: 1.25em
    color: white
    column(2)
    pull(1)
    margin-top: 1.5em
    text-align: center

    span
      color: gray

    @media screen and (max-width: 769px)
      width: 100%
      border-radius: 0
      text-align: center
      margin: 0
      padding: 20px 0
      border: none
