#modal
  display: none

  h2
    text-align: center

  #quantity
    width: 24%
    margin: 5% auto

    .incrementers
      size: 27
      bg('/img/plus-minus-25.png') no-repeat
      float: left

    .plus
      background-position: 0 0

    .minus
      background-position: 0 -35px

  input
    width: 30px

  .stripe-container
    margin: 0 auto
    width: 30%