@import '_settings'
@import 'vendor/_modal'

normalize()
base()
grid()

@import '_global'
@import 'panels/_landing'
@import '_modal'
@import 'panels/_buy-now'
@import 'panels/_about'
@import '_footer'
