#about
  background-color: #fffffb

  .panel-copy
    float: right
    column(6)
    text-align: center

    @media screen and (max-width: 769px)
      column(12)

  .image-wrapper
    float: left
    column(5)
    padding: 50px 0

    @media screen and (max-width: 769px)
      column(12)

    img
      margin: 0 auto
