#buy-now
  background-color: #fffbff

  .panel-copy
    padding-top: 50px
    column(6)
    text-align: center

    @media screen and (max-width: 769px)
      column(12)

  .image-wrapper
    column(5)
    padding: 50px 0

    @media screen and (max-width: 769px)
      column(12)

    .mini-container
      width: 250px
      margin: 0 auto

    img
      margin: 0 auto

      &.full
        size: 250px

      &.mini
        float: left
        margin: 1em
        size: 50
        border: 1px solid gray
